body {
background-color: #7070ff;

}
li  {
    display: inline-block;
    color: grey;
    background-color: grey;
    width: 100px;
    padding:  30px;

}
h1  {
  color: #ffe600;


}


li:hover {
  background-color: white;
}

li.active{
  background-color: black;

}

p  {
    color: black;
    font-family: "Courier New";


}
